<!-- 
base.html
Plantilla base del proyecto.

Responsabilidad:
- Define la estructura común de la página.
- Contiene navegación, estilos generales y bloques reutilizables.
- Las demás plantillas heredan de esta.
-->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Order Management{% endblock %}</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="{% url 'miapp:order_list' %}">Orders</a>
        <a href="{% url 'miapp:order_create' %}">Create order</a>
      </nav>
    </header>

    <main>{% block content %} {% endblock %}</main>
  </body>
</html>
